/******** HTML Tag *********/
body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/******** Class Tag *********/
.ad-anchor {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
}

.profile-img {
  height: 300px;
  border-radius: 50%;
}

.fb-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.web-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.skyline {
  width: 50%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  /* width: 50%; */
}

.skills {
  margin: 0 25%;
}

.profile {
  margin: 100px auto;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #30E3CB;
}

/* media query */
/* for screen widths similar to that of a desktop device and wider */
@media only screen and (min-width: 375px) and (max-width: 800px) {
  .fb-img {
    float: left;
    margin-right: 30px;
    width: 100%;
    margin: 0 0 20px;
  }

  .web-img {
    float: left;
    width: 100%;
    margin: 0 0 20px;
  }

  .middle-container {
    margin: 100px 0;
  }

  .profile-img {
    height: 250px;
    border-radius: 50%;
  }

  .skyline {
    width: 70%;
  }

  .skill-row {
    margin: 20px auto;
    text-align: left;
  }
}
